<div class="jumbotron text-center font-weight-bold" id="jumbotron"  style="background: url({{site.url}}{{site.baseurl}}/img/timg.jpeg) no-repeat scroll;background-size: cover;">
	<p class="text-white text-center" >XIAOCAINIAO<a href="http://NBA.com">XIAOCAINIAO</a></p>
	<p class="display-4 text-white">LuoDongXu</p>
	<p class="text-white text-center" >2019</p>
	<p class="text-white text-center" >Github: <a href="https://github.com/LuoDongXu1999">LuoDongXu1999</a></p>
	<p class="lead"> 
	</p>
</div>